.btn:not(.delete):not(.edit):not(.add) {
  max-width: 250px;
  width: 100%;
}

.img-placeholder-container {
  position: relative;
}

.img-placeholder-container:before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 15px;
  right: 15px;
  height: 100%;
}