.btn:not(.delete):not(.edit) {
  max-width: 250px;
  width: 100%;
}

.img-placeholder-container {
  position: relative;
}

.img-placeholder-container:before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 15px;
  right: 15px;
  height: 100%;
}

.user-page {
  position: relative;
  margin-top: 85px;
  padding-top: 150px;
}

.user-page .search-container {
  position: absolute;
  width: 100%;
  top: 0;
}

.user-page .timeline-charts .legend .groups g:last-child {
  display: none;
}

.user-page .menu-container {
  position: relative;
}

.user-page #menu-btn {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.user-page #menu-btn label {
  margin: 0;
  color: black;
  display: flex;
  align-items: center;
}

.user-page #menu {
  position: absolute;
  left: 17px;
  top: 60px;
  background-color: #fff;
  border: 1px solid #aaa;
  z-index: 100;
}

.user-page #menu::before {
  content: "";
  position: absolute;
  left: 12px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom-color: #aaa;
}

.user-page #menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-page #menu ul li {
  padding: 6px 15px;
  cursor: pointer;
}

.user-page #menu ul li:hover {
  background-color: #f8f9fa;
}

.user-page #menu ul li a {
  text-decoration: none;
  color: #212529;
}

.register-page #g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}

.register-page .help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}
