.update-page .label-1 {
  width: 80px;
}

.table-borderless td,
.table-borderless thead th {
  border: none;
}

.update-page table tbody .btn:not(.delete):not(.edit):not(.add) {
  width: 150px;
}

.update-page table tr td:nth-child(2) div.col {
  padding-left: 5px;
  padding-right: 5px;
}