.update-severities-page .label-1 {
  width: 80px;
}

.table-borderless td,
.table-borderless thead th {
  border: none;
}

.update-severities-page table tbody .btn:not(.delete):not(.edit):not(.add) {
  width: 150px;
}
