{% extends 'layouts/default.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/update-symptom-severities.css' %}">
<script src="{% static 'js/update-symptom-severities.js' %}"></script>

<script>
    var org_symptoms = {{org_symptoms|safe}}
</script>

{% endblock %}

{% block content %}

<div class="container update-symptom-severities-page" style="margin-top: 65px;">
    <div class="row">
        <a class="btn btn-primary ml-auto mr-2 my-2" href="/user/{{user_id}}" role="button">Back to Home</a>
    </div>

    <div class="row">
        <h2 class="col-12 text-center">Update Symptom Severities</h2>

        <form class="uss-form w-100 needs-validation my-3" novalidate method="POST">
            {% csrf_token %}
                                    
            <input type="hidden" name="action" value="add"/>
            {% if selected_uss %}
                <input type="hidden" name="selected_uss_id" value="{{selected_uss.id}}"/>
            {% endif %}

            <div class="col-12">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-lg-3">
                        <div class="form-group row mx-lg-0">
                            <label for="date" class="col-form-label label-1">Date</label>
                            <input id="date" name="date" class="form-control col" required />

                            <script>
                                var date = new Date();

                                {% if selected_uss %}
                                    date = "{{ selected_uss.date }}";
                                {% endif %}

                                $("#date").datepicker({ 
                                    autoclose: true, 
                                    maxDate: new Date(), 
                                    defaultDate: new Date(),
                                    changeMonth: true,
                                    changeYear: true 
                                });
                                $("#date").datepicker("setDate", date);
                            </script>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="form-group row mx-lg-0">
                            <label for="time" class="col-form-label label-1">Time</label>
                            <input id="time" name="time" type="time" class="form-control col" value="{{current_time.h}}:{{current_time.m}}:{{current_time.s}}" required />
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-12 col-lg-6">
                        <div class="form-group row mx-lg-0">
                            <label for="title" class="col-form-label label-1">Title</label>
                            <input id="title" name="title" class="form-control col" {% if selected_uss %} value="{{selected_uss.title}}" {% endif %} required />
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-borderless cus-list">
                <tbody>
                    {% if selected_uss %}
                        {% for usss in selected_uss.usss_list %}
                            <tr>
                                <td class="align-middle" width="22%">
                                    <h4 class="mb-0">{{usss.symptom.name}}</h4>
                                    <input type="hidden" name="symptom_IDs" value="{{usss.symptom.id}}"/>
                                </td>

                                <td class="align-middle" width="58%">
                                    <div class="row mx-auto">
                                        {% for level in usss.symptom.getSymptomLevels %}
                                            <div class="col text-center">
                                                <label for="radio_{{usss.symptom.id}}_{{forloop.counter}}" class="text-center w-100">{{level}}</label>
                                                <input id="radio_{{usss.symptom.id}}_{{forloop.counter}}" type="radio" name="symptom_{{usss.symptom.id}}_level" {% if level == usss.level %} checked {% endif %} value="{{forloop.counter}}"/>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </td>

                                <td class="align-middle" width="20%">
                                    <input name="symptom_{{usss.symptom.id}}_description" class="form-control" placeholder="Description" value={{usss.description}}>
                                </td>

                                <td class="align-middle" width="10%">
                                    <div class="row mx-auto">
                                        <button class="btn btn-danger delete" id="remove-{{usss.symptom.id}}" type="button" data-symptom-id="{{usss.symptom.id}}">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for cus in cus_list %}
                            <tr>
                                <td class="align-middle" width="22%">
                                    <h4 class="mb-0">{{cus.getSymptomName}}</h4>
                                    <input type="hidden" name="symptom_IDs" value="{{cus.symptom.id}}"/>
                                </td>

                                <td class="align-middle" width="58%">
                                    <div class="row mx-auto">
                                        {% for level in cus.getSymptomLevels %}
                                            <div class="col text-center">
                                                <label for="radio_{{cus.symptom.id}}_{{forloop.counter}}" class="text-center w-100">{{level}}</label>
                                                <input id="radio_{{cus.symptom.id}}_{{forloop.counter}}" type="radio" name="symptom_{{cus.symptom.id}}_level" value="{{forloop.counter}}"/>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </td>

                                <td class="align-middle" width="20%">
                                    <input name="symptom_{{cus.symptom.id}}_description" class="form-control" placeholder="Description">
                                </td>

                                <td class="align-middle" width="10%">
                                    <div class="row mx-auto">
                                        <button class="btn btn-danger delete" id="remove-{{cus.symptom.id}}" type="button" data-symptom-id="{{cus.symptom.id}}">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>

                <tfoot>
                    <tr>
                        <td class="align-middle" width="22%">
                            <select class="form-control symptoms">
                                <option value="-1">Please select symptom</option>
                                {% for symptom in symptoms %}
                                    <option value="{{symptom.id}}" {% if symptom.disabled %}disabled{% endif %}>{{symptom.name}}</option>
                                {% endfor %}
                            </select>
                        </td>

                        <td class="align-middle" width="58%">
                            <button class="btn btn-success add float-left" id="add-symptom" type="button">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </td>

                        <td width="20%"/>
                        <td width="10%"/>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <div class="row mx-auto">
                                <button class="btn btn-primary mx-auto" type="submit">Submit</button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </form>
    </div>

    <div class="row">
        <table class="w-100 table table-borderless uss-list">
            <tbody>
                {% for uss in uss_list %}
                    <tr>
                        <td class="align-middle"><h5 class="mb-0">{{uss.title}}</h5></td>
                        <td class="align-middle"><h5 class="mb-0">{{uss.date}}</h5></td>
                        <td class="align-middle"><h5 class="mb-0">{{uss.time}}</h5></td>
                        <td class="align-middle">
                            <div class="row mx-auto">
                                <form class="my-auto ml-auto mr-2" method="POST">
                                    {% csrf_token %}

                                    <input type="hidden" name="action" value="edit"/>
                                    <input type="hidden" name="uss_id" value="{{uss.id}}"/>

                                    <button class="btn btn-success edit" type="submit">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </form>

                                <form class="my-auto" method="POST">
                                    {% csrf_token %}

                                    <input type="hidden" name="action" value="delete"/>
                                    <input type="hidden" name="uss_id" value="{{uss.id}}"/>
                                    
                                    <button class="btn btn-danger delete" type="submit">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}