{% extends 'layouts/default.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/update-severities.css' %}">
<script src="{% static 'js/update-factor-severities.js' %}"></script>

<script>
    var org_factors = {{org_factors|safe}}
</script>

{% endblock %}

{% block content %}

<div class="container update-severities-page" style="margin-top: 65px;">
    <div class="row">
        <a class="btn btn-primary ml-auto mr-2 my-2" href="/user/{{user_id}}" role="button">Back to Home</a>
    </div>

    <div class="row">
        <h2 class="col-12 text-center">Treatments / Factors Update</h2>

        <form class="ufs-form w-100 needs-validation my-3" novalidate method="POST">
            {% csrf_token %}
                                    
            <input type="hidden" name="action" value="add"/>

            <div class="col-12">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-lg-3">
                        <div class="form-group row mx-lg-0">
                            <label for="date" class="col-form-label label-1">Date</label>
                            <input id="date" name="date" class="form-control col" required />

                            <script>
                                var date = new Date();

                                $("#date").datepicker({ 
                                    autoclose: true, 
                                    maxDate: new Date(), 
                                    defaultDate: new Date(),
                                    changeMonth: true,
                                    changeYear: true 
                                });
                                $("#date").datepicker("setDate", date);
                            </script>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="form-group row mx-lg-0">
                            <label for="time" class="col-form-label label-1">Time</label>
                            <input id="time" name="time" type="time" class="form-control col" value="{{current_time.h}}:{{current_time.m}}:{{current_time.s}}" required />
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-12 col-lg-6">
                        <div class="form-group row mx-lg-0">
                            <label for="title" class="col-form-label label-1">Title</label>
                            <input id="title" name="title" class="form-control col" required />
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-borderless cif-list">
                <thead>
                    <tr>
                        <th colspan="4">
                            <h5 class="text-uppercase text-center">Intermittent Treatments/Factors</h5>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for cif in cif_list %}
                        <tr>
                            <td class="align-middle" width="200px">
                                <h5 class="mb-0">{{cif.getFactorTitle}}</h5>
                                <input type="hidden" name="factor_Intermittent_IDs" value="{{cif.factor.id}}"/>
                            </td>

                            <td class="align-middle" width="500px">
                                <div class="row mx-auto">
                                    {% for level in cif.getFactorLevels %}
                                        <div class="col px-1 text-center">
                                            <label for="radio_{{cif.factor.id}}_{{forloop.counter}}" class="text-center w-100">{{level}}</label>
                                            <input id="radio_{{cif.factor.id}}_{{forloop.counter}}" type="radio" name="factor_{{cif.factor.id}}_level" value="{{forloop.counter}}"/>
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>

                            <td class="align-middle" width="200px">
                                <input name="factor_{{cif.factor.id}}_description" class="form-control" placeholder="Description">
                            </td>

                            <td class="align-middle">
                                <div class="row mx-auto">
                                    <button class="btn btn-primary mr-2 convert-to-daily" data-factor-id="{{cif.factor.id}}">Make Daily</button>
                                    <button class="btn btn-danger delete" id="delete-factor-{{cif.factor.id}}" type="button" data-factor-id="{{cif.factor.id}}">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td class="align-middle" colspan="4">
                            <div class="row mx-auto">
                                <select id="a-intermittent-factors" class="form-control factors col-lg-3 mr-2">
                                    <option value="-1">Please select factor</option>
                                    {% for factor in factors %}
                                        <option value="{{factor.id}}" {% if factor.disabled %}disabled{% endif %}>{{factor.title}}</option>
                                    {% endfor %}
                                </select>

                                <button class="btn btn-success add" id="add-intermittent-factor" type="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <table class="table table-borderless cdf-list">
                <thead>
                    <tr>
                        <th colspan="4">
                            <h5 class="text-uppercase text-center">Daily Treatments/Factors</h5>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for cdf in cdf_list %}
                        <tr>
                            <td class="align-middle" width="200px">
                                <h5 class="mb-0">{{cdf.getFactorTitle}}</h5>
                                <input type="hidden" name="factor_Daily_IDs" value="{{cdf.factor.id}}"/>
                            </td>

                            <td class="align-middle" width="500px">
                                <div class="row mx-auto">
                                    {% for level in cdf.getFactorLevels %}
                                        <div class="col px-1 text-center">
                                            <label for="radio_{{cdf.factor.id}}_{{forloop.counter}}" class="text-center w-100">{{level}}</label>
                                            <input id="radio_{{cdf.factor.id}}_{{forloop.counter}}" type="radio" name="factor_{{cdf.factor.id}}_level" value="{{forloop.counter}}"/>
                                        </div>
                                    {% endfor %}

                                    <div class="col text-center">
                                        <label for="radio_{{cdf.factor.id}}_skipped" class="text-center w-100">Skipped?</label>
                                        <input id="radio_{{cdf.factor.id}}_skipped" type="checkbox" name="factor_{{cdf.factor.id}}_skipped" value="yes"/>
                                    </div>
                                </div>
                            </td>

                            <td class="align-middle" width="200px">
                                <input name="factor_{{cdf.factor.id}}_description" class="form-control" placeholder="Description">
                            </td>

                            <td class="align-middle">
                                <div class="row mx-auto">
                                    <button class="btn btn-primary mr-2 convert-to-intermittent" data-factor-id="{{cdf.factor.id}}">Make Intermittent</button>
                                    <button class="btn btn-danger delete" id="delete-factor-{{cdf.factor.id}}" type="button" data-factor-id="{{cdf.factor.id}}">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td class="align-middle" colspan="4">
                            <div class="row mx-auto">
                                <select id="a-daily-factors" class="form-control factors col-lg-3 mr-2">
                                    <option value="-1">Please select factor</option>
                                    {% for factor in factors %}
                                        <option value="{{factor.id}}" {% if factor.disabled %}disabled{% endif %}>{{factor.title}}</option>
                                    {% endfor %}
                                </select>

                                <button class="btn btn-success add" id="add-daily-factor" type="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <table class="table table-borderless factor-list">
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <div class="row mx-auto">
                                <button class="btn btn-primary mx-auto" type="submit">Submit</button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

{% endblock %}