{% extends 'layouts/default.html' %}

{% block head %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
<script src="{% static 'js/user.js' %}"></script>

{% endblock %}

{% block content %}
<div class="container user-page">
    <div class="row mb-5 search-container">
        <div class="col-12 col-md-3 menu-container">
            <a id="menu-btn" href="javascript: void(0)">
                <img width="50" src="{% static 'images' %}/avatar-{{user.gender}}.png"/><br/>
                <label>{{user.first_name}}<br/>({{user.username}})</label>
            </a>

            <div id="menu" style="display: none">
                <ul>
                    <li><a href='/account'>Manage account</a></li>
                    <li><a href='/?action=logout'>Log out</a></li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-6 ml-md-auto my-auto">
            <select class="form-control symptom">
                {% for user_symptom in user_symptoms %}
                <option value="{{user_symptom.id}}">{{user_symptom}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-12 col-md-3 mr-md-auto my-auto">
            <a id="redirect_to_symptom" href="#" class="btn btn-primary mx-auto">Search</a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 col-md text-right">
            <a href="/user/{{user.id}}/update_symptom_severities"
                class="btn btn-primary ">
                Submit Symptom Update
            </a>
        </div>

        <div class="col-12 col-md text-left mr-md-auto">
            <a href="/user/{{user.id}}/update_factors"
                class="btn btn-primary ">
                Submit Factor Update
            </a>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <h3 class="text-center">Symptoms</h3>
        </div>

        <div class="col-12 mx-auto symptoms-chart">
            {% if symptoms_chart %}
                {{symptoms_chart|safe}}
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <h3 class="text-center">Treatments/Factors</h3>
        </div>

        <div class="col-12 mx-auto factors-chart">
            {% if factors_chart %}
                {{factors_chart|safe}}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}